*:fullscreen {
  height: 100%;
  width:100%;
}
*:-moz-full-screen {
  height: 100%;
  width:100%;
}
*:-webkit-full-screen {
  height: 100%;
  width:100%;
}
*:-ms-fullscreen {
  height: 100% !important;
  width:100% !important;
}
.resizable {
  border: 1px solid lightgray;
  padding: 0;
  margin: 0;
  min-width: 100;
  min-height: 100;
  max-width: 900;
  max-height: 900;
  overflow: hidden;
  resize: both;
}
.fulliframe {
  border: 0;
  height: 100%;
  width: 100%;
}
