*:fullscreen {
  height: 100%;
  width:100%;
}
*:-moz-full-screen {
  height: 100%;
  width:100%;
}
*:-webkit-full-screen {
  height: 100%;
  width:100%;
}
*:-ms-fullscreen {
  height: 100% !important;
  width:100% !important;
}
.jmoldiv {
  border: 1px solid lightgray;
  padding: 0;
  margin: 0;
}
.jmoliframe {
  border: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
